html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%; }

body {
  margin: 0;
  background: #eee; }
  @media (max-width: 480px) {
    body {
      font-size: 12px; } }

#content {
  padding-top: 40px;
  width: 100%;
  min-height: 100%;
  background: #fff;
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
  max-width: 1024px;
  margin: auto; }

.section {
  margin-bottom: 50px;
  padding: 20px 20px 40px 20px;
  border-bottom: 5px solid #eee;
  -ms-transition: all 1s linear;
  -moz-transition: all 1s linear;
  -webkit-transition: all 1s linear;
  -o-transition: all 1s linear;
  transition: all 1s linear;
  display: none;
  opacity: 0; }
  .section .title {
    text-align: center;
    font-size: 2.5em;
    font-weight: 900;
    margin-bottom: 40px; }
  .section .content {
    width: 70%;
    margin: auto;
    letter-spacing: 0.05em;
    font-size: 1.5em; }
    .section .content img {
      width: 100%; }
  .section .btns {
    text-align: center;
    margin: 30px 0; }
  .section .btns > .btn {
    margin: 10px;
    padding: 15px 30px;
    position: relative;
    border-radius: 0;
    font-size: 1.3em; }
    .section .btns > .btn i.glyphicon {
      vertical-align: text-top;
      opacity: 0;
      display: none;
      -ms-transition: opacity 1s ease-in-out;
      -moz-transition: opacity 1s ease-in-out;
      -webkit-transition: opacity 1s ease-in-out;
      -o-transition: opacity 1s ease-in-out;
      transition: opacity 1s ease-in-out;
      position: absolute;
      top: 5px;
      right: 5px; }
  @media (max-width: 768px) {
    .section .btns > .btn {
      display: block;
      font-size: 1.1em; } }
  .section .btn.active i.glyphicon {
    opacity: 1;
    display: inline-block; }
  .section .btn.active:after {
    content: " ";
    display: block;
    background: #fff;
    width: 30px;
    height: 30px;
    position: absolute;
    bottom: 0;
    left: 50%;
    margin-left: -14px;
    margin-bottom: -97px;
    border-left: 5px solid #eee;
    border-top: 5px solid #eee;
    -ms-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg); }
    @media (max-width: 768px) {
      .section .btn.active:after {
        display: none; } }
  .section.active {
    display: block;
    opacity: 1; }

.section:first-of-type .title {
  font-size: 3.5em;
  margin: 20px 0 30px; }

.foot img {
  margin: 20px; }
